@font-face {
    font-family: mulish;
    src: url('/font/Mulish-VariableFont_wght.ttf');
}

.initial {
    max-width: 430px;
    border: none;
    outline: none;
    margin: auto;
}

#initial button {
    border: none;
    outline: none;
    padding: 0;
}

.login_container {
    background-color: #F1F7FE;
}

.login_content {
    margin: auto;
    max-width: 430px;
    padding: 38px;
}

.login_email span {
    font-family: mulish;
    font-weight: 800;
    font-size: 17px;
    color: #383838;
    padding-bottom: 7px;
    display: block;
    padding-left: 20px;
}

.login_email {
    margin-bottom: 20px;
    position: relative;
}

.login_password span {
    font-family: mulish;
    font-weight: 800;
    font-size: 17px;
    color: #383838;
    padding-bottom: 7px;
    display: block;
    padding-left: 20px;
}

.login_email input {
    border-radius: 10px;
    height: 50px;
    padding-left: 60px;
}

.login_email img {
    width: 28px;
    position: absolute;
    opacity: .5;
    left: 14px;
    top: 44px;
}

.login_password_input {
    width: 28px;
    position: absolute;
    opacity: .5;
    left: 14px;
    top: 44px;
}

.login_password input {
    border-radius: 10px;
    height: 50px;
    padding-left: 60px;
}

.login_password {
    margin-bottom: 20px;
    position: relative;
}

.login_logo {
    padding-top: 25%;
    padding-bottom: 25%;
    margin: auto;
    text-align: center;
    display: block;
}

.login_btn button {
    background-color: #3FBAEE;
    border: none;
    width: 300px;
    height: 55px;
    font-size: 20px;
    font-family: 'mulish';
    font-weight: 900;
    border-radius: 10px;
}

.login_btn button:hover {
    background-color: #00affa;

}

.login_btn {
    text-align: center;
}

.login_forgot a {
    text-decoration: none;
    color: #858789;
    font-weight: 700;
    display: block;
    padding-bottom: 16px;
    padding-left: 20px;
}

.login_forgot a:hover {
    color: #3e6283;

}

.login_register a {
    text-decoration: none;
    color: #497DFF;
    font-weight: 700;
    display: block;
    padding-bottom: 16px;
    padding-left: 20px;
    text-align: center;
    padding-top: 16px;
}

.login_register a:hover {
    color: #1d5cfa;
}

.login_social a {
    width: 60px;
    height: 60px;
    display: block;
}

.login_social img {
    width: 100%;
}

.login_social {
    display: flex;
    padding-bottom: 60px;
    gap: 10px;
    justify-content: center;
}

#login_password_show {
    width: 33px;
    position: absolute;
    opacity: .8;
    right: 16px;
    top: 45px;
}

#login_password_show img {
    width: 100%;
}

.register_content {
    max-width: 430px;
    margin: auto;
}

.register_logo {
    width: 300px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 12px;
}

.register_logo img {
    width: 100%;
}

.register_title h1 {
    font-family: 'mulish';
    font-weight: 900;
    color: #383838;
    font-size: 30px;
}

.register_title {
    text-align: center;
}

.register_progress img {
    width: 100%;
}

.register_progress {
    width: 350px;
    margin: auto;
}

.register_form {
    margin-top: 55px;
}

.register_form input {
    height: 50px;
    border-radius: 10px;
    width: 320px;
    margin: auto;
    padding-left: 47px;
}

.register_form span {
    padding-left: 13%;
}

.register_form div {
    position: relative;
}

.register_form img {
    position: absolute;
    width: 28px;
    left: 69px;
    top: 11px;
    opacity: .5;
}

.register_btn {
    width: 280px;
    height: 55px;
    margin: auto;
    margin-top: 15px;
    background-color: #3FBAEE;
    border: none;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    border-radius: 10px;
}

.register_btn:hover {
    background-color: #00affa;
}

.register_back a {
    display: block;
    width: 280px;
    height: 40px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    background-color: #9CA6A9;
    padding: 7px;
    color: white;
    font-size: 17px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 10px;
    letter-spacing: 4px;
}

.register_back a:hover {
    background-color: #7f7f7f;
}

.register2_form img {
    width: 32px;
    margin-right: 14px;
    opacity: .6;
}

.register2_form {
    width: 370px;
    margin: auto;
    margin-top: 40px;
}

.register2_field {
    margin-bottom: 10px;
}

.register2_result {
    padding-left: 44px;
    font-size: 18px;
}

.policy {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy input {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.policy span {
    display: inline-block;
    color: #2790BD;
}

.register3_form a {
    color: white;
    text-decoration: none;
    line-height: 2.5;

}

.register3_form {
    text-align: center;
}

.register3_form h2 {
    margin-top: 55px;
    margin-bottom: 38px;
    font-size: 20px;
    font-weight: 999;
}

.register3_logo img {
    width: 77%;
}

.register3_content {
    margin-top: 22px;
}

.resend_email_content {
    text-align: center;
    font-size: 21px;
    margin-bottom: 24px;
}

.dashboard_title {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.dashboard_title img {
    width: 54px;
    object-fit: contain;
}

.dashboard_w h2 {
    font-size: 22px;
}

.dashboard_how {
    margin-top: 30px;
    text-align: center;
}

.dashboard_how h3 {
    font-size: 20px;
    color: #009BF2;
    border-bottom: 2px dotted #009BF2;
    font-weight: bold;
}

.dashboard_how h3 {
    font-size: 20px;
    color: #009BF2;
    border-bottom: 2px dotted #009BF2;
    display: inline-block;
    padding-bottom: 5px;
}

.dashboard_how {
    margin-top: 40px;
    text-align: center;
}

.dashboard_group {
    display: flex;
    background-color: #3FBAEE;
    justify-content: center;
    gap: 13px;
    align-items: center;
    width: 290px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    height: 56px;
    border-radius: 10px;
    text-decoration: none;
}

.dashboard_group img {
    width: 40px;
}

.dashboard_group_content {
    color: white;
    font-weight: 999;
    font-size: 18px;
}

.new_team_create1_description p {
    display: inline-block;
    border-bottom: 2px dotted #383838;
    padding: 5px;
}

.new_team_create1_description {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 15px;
}

.new_team_create1_form input {
    margin: auto;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.new_team_create1_form span {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 5px;
    color: #383838;
    font-size: 18px;
}

.new_team_create1_form select {
    margin: auto;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    background-color: #f0f0f0 !important;
    background: url('/images/triangle.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right 15px top 8px;
}

.new_team_create2_form .m_select {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #d9d9d9;
    width: 300px;
    margin: auto;
    padding: 7px;
}

.new_team_create2_form .m_data {
    display: block;
}

.new_team_create3_form {
    margin-top: 36px;
}

.new_team_create3_description {
    display: flex;
    gap: 15px;
    justify-content: center;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 10px;
}

.new_team_create3_description img {
    width: 60px;
    object-fit: contain;
}

.new_team_create3_w h2 {
    text-align: center;
    font-size: 27px;
    color: #383838;
}

.new_team_create3_content {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}